/* ****** Custom Propierties ****** */
:root {
  --first-color: #222;
  --second-color: #24696B;
  --second-color-light: rgba(36, 105, 107, 0.75);
  --white-color: #FFF;
  --black-color: #000;
  --black-alpha-color: rgba(0,0,0,0.5);
  --max-width: 1200px;
  --font: 'Lato', sans-serif;
}

/* ****** Reset ****** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ****** Components ****** */
/* *** MENU *** */
.menu-btn {
  outline: thin solid var(--white-color);
  border: none;
  cursor: pointer;
  background-color: var(--first-color);
}

.menu-btn svg {
  fill: var(--white-color)
}

.menu {
  width: 100%;
  top: 4rem;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--first-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
}

.menu a:hover {
  background-color: var(--second-color);
}

@media screen and (min-width:768px) {
  .menu-btn {
    display: none;
  }

  .menu {
    width: auto;
    position: static;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0.5rem;
  }
  
  .menu a:last-child {
    padding-right: none;
  }
}

/* ****** Ventana Modal ******* */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

/* ****** UTILITIES ******* */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.btn {
  border-radius: 4rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 280px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--btn-bg-color);
}

.none {
  display: none;
}

.section {
  padding: 2.5rem 1rem;
}

.full-lg-screen {
  width: 100%;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.box-shadow-1 {
  box-shadow: .25rem .25rem 1rem rgba(0,0,0,0.25);
}

/* ****** Side Styles ******* */
.header {
  width: 100%;
  height: 4rem;
  padding: 1.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--first-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/* About */
.title-about {
  margin: 2rem auto;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--second-color);
}

.description-about > p {
  font-size: 1.1rem;
}

.about figure {
  text-align: center;
}

/* Portfolio */
.portfolio-comment p {
  font-size: 1.5rem;
}

.portfolio-comment p span{
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

/* Contacto */
.contact > h2 {
  width: 250px;
  text-align: center;
  margin: 2rem auto;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--second-color);
}

.contact-cards .card {
  width: 100%;
  height: 150px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card svg {
  margin-bottom: 0.5rem;
}

.card small {
  margin-top: 0.2rem;
}

.social-media a {
  padding: 0 0.5rem;
  text-decoration: none;
}

/* Formulario */
.contact-form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form label {
  font-weight: bold;
  margin: 0.5rem;
}

.contact-form input {
  padding: 0.5rem;
  font-family: var(--font);
}

.contact-form textarea {
  resize: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: var(--font);
}

.contact-form input[type="submit"] {
  width: 250px;
  font-size: 1rem;
  margin: 1rem auto;
  border: none;
  cursor: pointer;
  transition: all .5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: .75;
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  fill: var(--second-color);
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: 0;
}

/* footer */
.footer {
  width: 100%;
  height: 4rem;
  padding: 1.2rem 1rem;
  background-color: #24696B;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > .container  p {
  font-weight: bold;
  margin: 0 auto
}

@media screen and (min-width:768px) {
  .header {
    padding: 0.8rem 1rem;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-around;
    align-content: center;
  }

  .portfolio-project {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .buttons {
    justify-content: flex-start;
  }

  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .footer .logo {
    display:inline-block;
  }
  
  .footer .logo a {
    color: var(--black-color)
  }

  .footer .social-media {
    display: inline-block;
  }

  .footer .social-media a:last-child{
    padding-right: 0px;
  }
} 

@media screen and (min-width: 1024px) {
  .description-about {
    margin: auto;
  }

  .about figure {
    margin: 0 auto;
  }

  .portfolio-project figure {
    margin: auto;
  }

  .portfolio-project .content {
    margin: auto;
  }

  .buttons {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .btn {
    width: 45%;
  }

  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }
}